<div class="col-12">
    <div class="panel height">
      <div class="panel-heading">
        <h4>Autorizados por módulo</h4>
      </div>
      <div class="panel-body">
        <div class="modal fade" id="visualizaranexo" tabindex="-1" role="dialog" aria-labelledby="visualizaranexo">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="visualizaranexo">AUTORIZADOS POR MÓDULO</h4>
            </div>
            <div class="modal-body">
              <div class="fetched-data">
              </div>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div><table class="table" style="font-size: 11px">
                      <tbody><tr>
        <td class="width30">AGENDAMENTO</td>
        <td class="width60"><strong>8</strong></td>
        <td class="width10" id="8" style="background-color:#f2f2f2;">
                    <div data-toggle="modal" data-target="#visualizaranexo"><img style=" cursor:pointer" data-doc="AGENDAMENTO" title="Ver lista" src="https://sistemasigs.com/sigs_assets/img/list-icon.png" width="15"></div>
                  </td>
      </tr>

                      <tr>
        <td class="width30">ALMOXARIFE</td>
        <td class="width60"><strong>6</strong></td>
        <td class="width10" id="6" style="background-color:#f2f2f2;">
                    <div data-toggle="modal" data-target="#visualizaranexo"><img style=" cursor:pointer" data-doc="ALMOXARIFE" title="Ver lista" src="https://sistemasigs.com/sigs_assets/img/list-icon.png" width="15"></div>
                  </td>
      </tr>

                      <tr>
        <td class="width30">CONTROLEDEACESSO</td>
        <td class="width60"><strong>6</strong></td>
        <td class="width10" id="6" style="background-color:#f2f2f2;">
                    <div data-toggle="modal" data-target="#visualizaranexo"><img style=" cursor:pointer" data-doc="CONTROLEDEACESSO" title="Ver lista" src="https://sistemasigs.com/sigs_assets/img/list-icon.png" width="15"></div>
                  </td>
      </tr>

                      <tr>
        <td class="width30">SUPERVISORTECNICO</td>
        <td class="width60"><strong>5</strong></td>
        <td class="width10" id="5" style="background-color:#f2f2f2;">
                    <div data-toggle="modal" data-target="#visualizaranexo"><img style=" cursor:pointer" data-doc="SUPERVISORTECNICO" title="Ver lista" src="https://sistemasigs.com/sigs_assets/img/list-icon.png" width="15"></div>
                  </td>
      </tr>

                      <tr>
        <td class="width30">TECNICO</td>
        <td class="width60"><strong>2</strong></td>
        <td class="width10" id="2" style="background-color:#f2f2f2;">
                    <div data-toggle="modal" data-target="#visualizaranexo"><img style=" cursor:pointer" data-doc="TECNICO" title="Ver lista" src="https://sistemasigs.com/sigs_assets/img/list-icon.png" width="15"></div>
                  </td>
      </tr>

                      <tr>
        <td class="width30">TORRE</td>
        <td class="width60"><strong>8</strong></td>
        <td class="width10" id="8" style="background-color:#f2f2f2;">
                    <div data-toggle="modal" data-target="#visualizaranexo"><img style=" cursor:pointer" data-doc="TORRE" title="Ver lista" src="https://sistemasigs.com/sigs_assets/img/list-icon.png" width="15"></div>
                  </td>
      </tr>

                      <tr>
        <td class="width30">TORRELIDER</td>
        <td class="width60"><strong>6</strong></td>
        <td class="width10" id="6" style="background-color:#f2f2f2;">
                    <div data-toggle="modal" data-target="#visualizaranexo"><img style=" cursor:pointer" data-doc="TORRELIDER" title="Ver lista" src="https://sistemasigs.com/sigs_assets/img/list-icon.png" width="15"></div>
                  </td>
      </tr>



    </tbody></table>
      </div>
    </div>
  </div>
