<div class="col-12">
  <div class="invoice">
    <div class="panel">
      <div class="panel-body">
        <!-- Row starts -->
        <div class="row gutter">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <address>
              <br>
            </address>
          </div>
        </div>
        <!-- Row ends -->
        <div class="panel no-border green-bg">
          <div class="panel-body text-center">
            <div class="user-stats">
              <h2>PAGO</h2>
            </div>
          </div>
        </div>
        <!-- Row starts -->
        <div class="row gutter">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Dados</th>
                    <th>Valores</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dia do vencimento</td>
                    <td style="color: #cc0000">Não definido...</td>
                  </tr>
                  <tr>
                    <td>Vencimento</td>
                    <td style="color: #cc0000">Não definido...</td>
                  </tr>
                  <tr>
                    <td>Último pagamento</td>
                    <td style="color: #cc0000">Não definido...</td>
                  </tr>
                  <tr>
                    <td>Valor a pagar</td>
                    <td style="color: #cc0000">Não definido...</td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Row ends -->
      </div>
    </div>
  </div>
</div>
